@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
}

body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
  max-height: 250px;
}



.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  
}
@media (max-width: 850px) {
  .cards {
    justify-content: space-evenly;
  }
}

.cards_item {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  max-width: 250px;
}



/* @media (min-width: 40rem) {
  .cards_item {
    width: 33.333%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 25%;
  }
} */

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 1rem;
}

.card_content {
  padding: 1rem;
  height: 100%;
  background: linear-gradient(to bottom left, #32de84 40%, #959c6b 100%);
}

.card_title {
  color: #000000;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
